body {
    background-color: #101010;
}

@font-face {
    font-family: 'NEXTSTEP';
    src: url('../assets/NEXTSTEP.ttf') format('truetype');
}


.slide-container {
    font-family: 'NEXTSTEP', sans-serif;
    text-align: center;
    color: #48ff00;
}

.slide {}

.avatar-container {
    position: relative;
    animation-name: avatar-fade-in-animation;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

.avatar-container>img {
    width: 300px;
    margin: 50px;
}

@keyframes avatar-fade-in-animation {
    from {
        opacity: 0;
        top: -50px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

.title-container {
    position: relative;
    animation-name: title-fade-in-animation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes title-fade-in-animation {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

.links-container {
    display: table;
    margin: 0 auto;
}

.links-container>ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.links-container>ul>li {
    position: relative;
    opacity: 0;
    display: inline-block;
    float: none;
    padding: 10px;
    animation-name: link-fade-in-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.links-container-main>ul>li {
    width: 130px;
}

.links-container>ul>li:nth-of-type(1) {
    animation-delay: 1.4s;
}

.links-container>ul>li:nth-of-type(2) {
    animation-delay: 1.5s;
}

.links-container>ul>li:nth-of-type(3) {
    animation-delay: 1.6s;
}

.links-container>ul>li:nth-of-type(4) {
    animation-delay: 1.7s;
}

.links-container>ul>li:nth-of-type(5) {
    animation-delay: 1.8s;
}

.links-container>ul>li:nth-of-type(6) {
    animation-delay: 1.9s;
}

@keyframes link-fade-in-animation {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

a.social {
    font-size:14pt;
    color: #aaa;
    text-decoration: none;
}

a.social:link {
    color: #aaa;
    text-decoration: none;
}

a.social:visited {
    color: #aaa;
    text-decoration: none;
}

a.social:hover {
    color: #48ff00;
    text-decoration: none;
    transform: scale(1.1);
    transition: linear 0.1s;
}

a.social:active {
    color: #48ff00;
    text-decoration: none;
}

a.button {
    font-weight: bold;
    padding: 10px;
    display: block;
    background-color: #080808;
    border-radius: 7px;
    border-color: #222;
    border-style: solid;
    border-width: 1px;
    box-shadow: black 0px 3px;
}

a.button:link {
    color: #48ff00;
    text-decoration: none;
}

a.button:visited {
    color: #48ff00;
    text-decoration: none;
}

a.button:hover {
    background-color: #151515;
    color: #48ff00;
    text-decoration: none;
    transform: scale(1.1);
    transition: linear 0.1s;
}

a.button:active {
    color: #48ff00;
    text-decoration: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    /* visibility: hidden; */
    width: 120px;
    background-color: #080808;
    color: #48ff00;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 175%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    box-shadow: black 0px 3px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #080808 transparent;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    transition: linear 0.1s;
}

/* ========== Start of dropdown_translate ========= */

#google_translate_element {
  position: absolute;
  bottom: calc(53px + 16px);
  right: 16px!important;
  // z-index: 99999;
}
.goog-te-gadget {
  font-family: Roboto, 'Open Sans', sans-serif!important;
  text-transform: uppercase;
}
.goog-te-gadget-simple  {
  background-color: rgba(255,255,255,0.20)!important;
  border: 1px solid rgba(255,255,255,0.50) !important;
  padding: 8px!important;
  border-radius: 4px!important;
  font-size: 1rem!important;
  line-height:2rem!important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}
.goog-te-menu2 {
  max-width: 100%;
}
.goog-te-menu-value {
  color: #fff !important;
    &:before {
    font-family: 'Material Icons';
    content: "\E927";
    margin-right: 16px;
    font-size: 2rem;
    vertical-align: -10px;
    // width:32px!important;
  } 
}
.goog-te-menu-value span:nth-child(5) {
  display:none;
}
.goog-te-menu-value span:nth-child(3) {
  border:none!important;
  font-family: 'Material Icons';
  &:after {
    font-family: 'Material Icons';
    content: "\E5C5";
    font-size: 1.5rem;
    vertical-align: -6px;
  }  
}

.goog-te-gadget-icon {
    background-image: url(https://placehold.it/32)!important;
    background-position: 0px 0px;
    height: 32px!important;
    width: 32px!important;
    margin-right: 8px!important;
    //     OR
    display: none;
}

/* ============ HIDE TOP BAR ============ */
.goog-te-banner-frame.skiptranslate {display: none!important;} 
body {top: 0px!important;}

/* ================================== */
    Mediaqueries
/* ================================== */
@media (max-width: 667px) {
	#google_translate_element {
		bottom: calc(100% - 50% - 53px);
		left: 16px!important;
		width: 100%!important;
		goog-te-gadget {
			width:100%!important;
		}
		.skiptranslate {
			width:100%!important;			
		}
		.goog-te-gadget-simple {
			width: calc(100% - 32px)!important;
			text-align: center;
		}	
	}
}
/* ========= End of dropdown_translate ========= */
