/* === Start of Body === */
body {
    background-color: #101010;
    font-family: 'NEXTSTEP', sans-serif; /* Ensure uniform font across the site */
}

@font-face {
    font-family: 'NEXTSTEP';
    src: url('../assets/NEXTSTEP.ttf') format('truetype');
}

.slide-container {
    text-align: center;
    color: #48ff00;
}

/* Centered Avatar */
.avatar-container {
    position: relative;
    animation-name: avatar-fade-in-animation;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

.avatar-container > img {
    width: 300px;
    margin: 50px;
}

/* Fade-in animations for elements */
@keyframes avatar-fade-in-animation {
    from {
        opacity: 0;
        top: -50px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

/* Centered title animation */
.title-container {
    position: relative;
    animation-name: title-fade-in-animation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes title-fade-in-animation {
    from {
        opacity: 0;
        top: 50px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

/* Link Container */
.links-container {
    display: table;
    margin: 0 auto;
}

.links-container > ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.links-container > ul > li {
    position: relative;
    opacity: 0;
    display: inline-block;
    float: none;
    padding: 10px;
    animation-name: link-fade-in-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes link-fade-in-animation {
    from {
        opacity: 0;
        top: 50px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

/* Button Styles */
a.button, .bottom .contact-button {
    font-weight: bold;
    padding: 10px;
    display: block;
    background-color: #080808;
    border-radius: 7px;
    border: 1px solid #222;
    box-shadow: black 0px 3px;
    color: #48ff00; /* Unified color */
}

/* Hover Effects for Buttons */
a.button:hover, .bottom .contact-button:hover {
    background-color: #151515;
    color: #48ff00;
    transform: scale(1.1);
    transition: linear 0.1s;
}

/* Markdown Content */
.markdown-content {
    padding: 20px;
    margin-top: 30px;
    background-color: #101010;
    color: #fff;
    border-top: 1px solid #48ff00; /* Visual separation */
}

button {
    background-color: #48ff00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
}

/* Translation */
.pullDownSelector {
    display: block;
    border-radius: 1em;
    margin: 10px auto; /* Center the dropdown */
    background: rgba(255, 255, 255, 0.1);
}
.pullDownSelector > .item {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: 5px auto; /* Center the dropdown items */
    background-color: white;
    transition: transform .5s, height .5s, margin .5s;
}
