/* === Start of Body === */
body {
    background-color: #101010;
    margin: 0;
    padding: 0;
    font-family: 'NEXTSTEP', sans-serif;
}

/* Font face */
@font-face {
    font-family: 'NEXTSTEP';
    src: url('../assets/NEXTSTEP.ttf') format('truetype');
}

/* Slide container */
.slide-container {
    font-family: 'NEXTSTEP', sans-serif;
    text-align: center;
    color: #48ff00;
    padding: 5vw;
}

/* Avatar container */
.avatar-container {
    position: relative;
    animation-name: avatar-fade-in-animation;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

.avatar-container>img {
    width: 40vw;
    max-width: 300px;
    margin: 5vw;
}

@keyframes avatar-fade-in-animation {
    from {
        opacity: 0;
        top: -50px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

/* Title container */
.title-container {
    position: relative;
    animation-name: title-fade-in-animation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes title-fade-in-animation {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

/* Links container */
.links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.links-container>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

.links-container>ul>li {
    margin: 1vw;
    padding: 1vw;
    display: inline-block;
    opacity: 0;
    animation-name: link-fade-in-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes link-fade-in-animation {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

/* Button styling */
a.button {
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    background-color: #080808;
    border-radius: 7px;
    border: 1px solid #222;
    box-shadow: black 0px 3px;
    color: #48ff00;
    text-decoration: none;
    transition: transform 0.1s, background-color 0.1s;
    font-size: 4vw; /* Responsive font size */
    margin: 5px;
}

a.button:hover {
    background-color: #151515;
    transform: scale(1.1);
}

/* Social media icons */
a.social {
    font-size: 14pt;
    color: #aaa;
    text-decoration: none;
}

a.social:hover {
    color: #48ff00;
    transform: scale(1.1);
}

/* Tooltip styling */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    width: 120px;
    background-color: #080808;
    color: #48ff00;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 175%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.1s;
    box-shadow: black 0px 3px;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

/* Translation selector */
.pullDownSelector {
    display: block;
    border-radius: 1em;
    width: auto;
    margin: 10px;
    background: rgba(255, 255, 255, 0.1);
}

.pullDownSelector>.item {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: 5px;
    background-color: white;
    background-size: auto 105%!important;
    background-position: center center!important;
    transition: transform 0.5s, height 0.5s, margin 0.5s;
}

#language {
    right: 0;
    top: 0;
    position: fixed;
    z-index: 10;
}

/* === Media Queries === */

/* For small screens like smartphones */
@media (max-width: 768px) {
    .avatar-container>img {
        width: 60vw;
        margin: 5vw;
    }

    .links-container>ul {
        flex-direction: column;
        padding: 0;
    }

    a.button {
        font-size: 5vw;
        padding: 4vw;
        margin: 3vw;
    }

    a.social {
        font-size: 6vw;
    }

    .title-container h1 {
        font-size: 8vw;
    }
}

/* For larger screens */
@media (min-width: 1024px) {
    .avatar-container>img {
        width: 250px;
    }

    a.button {
        font-size: 16px;
        padding: 10px;
    }
}
