:root {
  --theme-body-dynamic-color-1: #fff;
  --theme-body-dynamic-color-1--rgb: 255, 255, 255;
  --theme-body-dynamic-color-2: #e6e6e6;
  --theme-body-dynamic-color-2--rgb: 230, 230, 230;
  --theme-page-dynamic-color-1: #fff;
  --theme-page-dynamic-color-1--rgb: 255, 255, 255;
  --theme-page-dynamic-color-1--inverted: #000;
  --theme-page-dynamic-color-1--inverted--rgb: 0, 0, 0;
  --theme-page-dynamic-color-2: #e6e6e6;
  --theme-page-dynamic-color-2--rgb: 230, 230, 230;
  --theme-sticky-nav-dynamic-color-1: #fff;
  --theme-sticky-nav-dynamic-color-1--rgb: 255, 255, 255;
  --theme-sticky-nav-dynamic-color-2: #e6e6e6;
  --theme-sticky-nav-dynamic-color-2--rgb: 230, 230, 230;
  --theme-link-dynamic-color-1: #000;
  --theme-link-dynamic-color-1--rgb: 0, 0, 0;
  --theme-link-dynamic-color-2: #3a3a3a;
  --theme-link-dynamic-color-2--rgb: 58, 58, 58;
  --theme-accent-dynamic-color-1: #000;
  --theme-accent-dynamic-color-1--rgb: 0, 0, 0;
  --theme-accent-dynamic-color-2: #3a3a3a;
  --theme-accent-dynamic-color-2--rgb: 58, 58, 58;
  --theme-body-background-color: #000000;
  --theme-body-background-color--rgb: 0, 0, 0;
  --theme-body-background-image: none;
  --theme-body-background-image-full: url(https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/0/08/Site-background-dark/revision/latest?cb=20240331210524);
  --theme-body-background-image-desktop: url(https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/1280?cb=20240331210524);
  --theme-body-background-image-large-desktop: url(https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/1500?cb=20240331210524);
  --theme-body-background-image-mobile: url(https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/600?cb=20240331210524);
  --theme-body-background-image-mobile-2x: url(https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/1200?cb=20240331210524);
  --theme-body-background-image-tablets: url(https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/1024?cb=20240331210524);
  --theme-body-background-image-tablets-2x: url(https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/2048?cb=20240331210524);
  --theme-body-text-color: #fff;
  --theme-body-text-color--rgb: 255, 255, 255;
  --theme-body-text-color--hover: #cccccc;
  --theme-sticky-nav-background-color: #666050;
  --theme-sticky-nav-background-color--rgb: 102, 96, 80;
  --theme-sticky-nav-text-color: #fff;
  --theme-sticky-nav-text-color--hover: #cccccc;
  --theme-page-background-color: #1a1a1a;
  --theme-page-background-color--rgb: 26, 26, 26;
  --theme-page-background-color--secondary: #3c3c3c;
  --theme-page-background-color--secondary--rgb: 60, 60, 60;
  --theme-page-text-color: #e6e6e6;
  --theme-page-text-color--rgb: 230, 230, 230;
  --theme-page-text-color--hover: #b3b3b3;
  --theme-page-text-mix-color: #808080;
  --theme-page-text-mix-color-95: #242424;
  --theme-page-accent-mix-color: #7e7459;
  --theme-page-headings-font: "Rubik";
  --theme-link-color: #e2ce97;
  --theme-link-color--rgb: 226, 206, 151;
  --theme-link-color--hover: #f8f3e6;
  --theme-link-label-color: #000;
  --theme-accent-color: #e2ce97;
  --theme-accent-color--rgb: 226, 206, 151;
  --theme-accent-color--hover: #cba847;
  --theme-accent-label-color: #000;
  --theme-border-color: #4d4d4d;
  --theme-border-color--rgb: 77, 77, 77;
  --theme-alert-color: #d30019;
  --theme-alert-color--rgb: 211, 0, 25;
  --theme-alert-color--hover: #ff3a51;
  --theme-alert-color--secondary: #ff3a51;
  --theme-alert-label: #fff;
  --theme-warning-color: #cf721c;
  --theme-warning-color--rgb: 207, 114, 28;
  --theme-warning-color--secondary: #cf721c;
  --theme-warning-label: #000;
  --theme-success-color: #0c7830;
  --theme-success-color--rgb: 12, 120, 48;
  --theme-success-color--secondary: #0f9d3e;
  --theme-success-label: #fff;
  --theme-message-color: #a34792;
  --theme-message-label: #fff;
  --theme-community-header-color: #ffffff;
  --theme-community-header-color--hover: #cccccc;
  --theme-background-image-opacity: 100%;
  --theme-page-text-opacity-factor: 0.7;
  --theme-body-text-opacity-factor: 0.7;
  --theme-link-decoration: underline;
}
.skin-fandomdesktop .CodeMirror,
.skin-fandomdesktop .cm-editor {
  --codemirror-yellow: #ffd700;
  --codemirror-light-blue: #adf;
  --codemirror-blue: #08f;
  --codemirror-green: #290;
  --codemirror-red: #f50;
  --codemirror-dark-red: #cf1414;
  --codemirror-purple: #a300f4;
  --codemirror-pink: #e0e;
  --codemirror-light-gray: #eee;
  --codemirror-gray: #84a0a0;
}
.mw-highlight {
  --pygments-background: #3c3c3c;
  --pygments-err: #fe5656;
  --pygments-c: #4f9e9e;
  --pygments-k: #00ad00;
  --pygments-o: #939393;
  --pygments-ch: #4f9e9e;
  --pygments-cm: #4f9e9e;
  --pygments-cp: #cb8300;
  --pygments-cpf: #4f9e9e;
  --pygments-c1: #4f9e9e;
  --pygments-cs: #4f9e9e;
  --pygments-gd: #ff5858;
  --pygments-gr: #fe5656;
  --pygments-gh: #8585ff;
  --pygments-gi: #00aa00;
  --pygments-go: #929292;
  --pygments-gp: #8585ff;
  --pygments-gu: #ff00ff;
  --pygments-gt: #5d8ffe;
  --pygments-kc: #00ad00;
  --pygments-kd: #00ad00;
  --pygments-kn: #00ad00;
  --pygments-kp: #00ad00;
  --pygments-kr: #00ad00;
  --pygments-kt: #fe4f8f;
  --pygments-m: #939393;
  --pygments-s: #e56f6f;
  --pygments-na: #879b2c;
  --pygments-nb: #00ad00;
  --pygments-nc: #8484fe;
  --pygments-no: #ff5555;
  --pygments-nd: #c569ff;
  --pygments-ni: #999;
  --pygments-ne: #de756f;
  --pygments-nf: #8484fe;
  --pygments-nl: #a0a000;
  --pygments-nn: #8484fe;
  --pygments-nt: #00ad00;
  --pygments-nv: #8b8ae9;
  --pygments-ow: #c569ff;
  --pygments-w: #bbb;
  --pygments-mb: #939393;
  --pygments-mf: #939393;
  --pygments-mh: #939393;
  --pygments-mi: #939393;
  --pygments-mo: #939393;
  --pygments-sa: #e56f6f;
  --pygments-sb: #e56f6f;
  --pygments-sc: #e56f6f;
  --pygments-dl: #e56f6f;
  --pygments-sd: #e56f6f;
  --pygments-s2: #e56f6f;
  --pygments-se: #d8792c;
  --pygments-sh: #e56f6f;
  --pygments-si: #c57e9b;
  --pygments-sx: #00ad00;
  --pygments-sr: #c57e9b;
  --pygments-s1: #e56f6f;
  --pygments-ss: #8b8ae9;
  --pygments-bp: #00ad00;
  --pygments-fm: #8484fe;
  --pygments-vc: #8b8ae9;
  --pygments-vg: #8b8ae9;
  --pygments-vi: #8b8ae9;
  --pygments-vm: #8b8ae9;
  --pygments-il: #939393;
}
